* {
    font-family: "Century Gothic", sans-serif;
}
html {
    height: 100%;
}

body {
    font-family: "Century Gothic";
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    position: relative;
}

h4 {
    font-size: 30px;
    color: white;
    font-family: "Century Gothic";
}

footer{
    margin:auto;

}
.footercontainer{
    width: 100%;
    background: #142d66;
    display: flex;
    position: relative;
    z-index: 2;
    transform-style: preserve-3d;
}
.single{
    margin-left: 16.5%;
    text-align: center;
}
.single p{
    color: white;
}
.cont{
    display: flex;
}
.cont p{
    margin-left: 10px;
    color: #ffffff;
}
.cont svg{
    height: 30px;
}
.background {
    position: relative;
    background-image: url('design.png');
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 10, 68, 0.767);
    z-index: 0;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.column {
    position: relative;  
    float: left;
    width: 50%;
    padding: 50px;
    text-align: justify;
    transform-style: preserve-3d;
    
    
  }
 
.row {
    border-radius: 10px;
    background-color: rgba(255, 253, 253, 0.63);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    transform-style: preserve-3d;
    


  }
  
.row:after {
    content: "";
    display: table;
    clear: both;

  }

.dp {
    padding: 2%;
    position: static;
    text-align: center;
    flex-grow: 1;
    background: #142d66;
}

header {
    text-align: start;
    background: linear-gradient(180deg, #275C29, #82C183);
    position: relative;
    z-index: 1;
}

.container {
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 2;
}

.textcontainer {
    margin-top: 3%;
}

.navbar {
    padding: 10px 20px;
    z-index: 2;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.nav-item {
    flex: 1;
    text-align: center;
    z-index: 2;
}

.nav-link {
    font-size: 18px;
    padding: 10px 15px;
    color: #ffffff;
    z-index: 2;
}

h2 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-family: "Century Gothic";
    font-size: 20px;
    font-style: italic;
}

h3 {
    color: #275C29;
    border-bottom: 2px solid #275C29;
    padding-bottom: 5px;
    font-family: "Century Gothic";
}
.column p {
    color: #000000;
    font-size: 20px;
    font-family: "Century Gothic",;
}