@font-face {
    font-family: 'CenturyGothic';
    src: url(centurygothic.ttf);
}
* {
    font-family: "CenturyGothic", sans-serif;
}
html {
    height: 100%;
}

body {
    font-family: "CenturyGothic";
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    position: relative;
    background-color: white;
}

h4 {
    font-size: 30px;
    color: white;
    font-family: "CenturyGothic";
}
.single{
    margin-left: 16.5%;
    text-align: center;

    
}
footer{
    margin:auto;

}
.footercontainer{
    width: 100%;
    background: linear-gradient(360deg, #275C29, #116d19c0);
    display: flex;
    position: relative;
    z-index: 2;
    transform-style: preserve-3d;
  
}
.single{
    margin-left: 16.5%;
    text-align: center;

    
}
.single a{
    color: #000000;
    text-decoration: none;
}
.single a:hover{
    color: white;
    
}
.single p{
    color: #000000;

}
.cont{
    display: flex;
}
.cont p{
    margin-left: 10px;
    color: #000000;
}
.cont svg{
    height: 30px;
  
}


.content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.column {
    position: relative;  
    text-align: justify;
    transform-style: preserve-3d;
}
 
.row {
    border-radius: 10px;
  
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    transform-style: preserve-3d;
        


}
  



header {
    text-align: start;
    background: linear-gradient(180deg, #275C29, #82C183);
    position: relative;
    z-index: 1;
}

.container {
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 2;
}

.textcontainer {
    margin-top: 3%;
}

.navbar {
    padding: 20px 20px;
    margin-right: 170px; /* Remove right margin */
    position: absolute; /* Make the navbar stick to the top right */
    top: 50;
    right: 0;
    z-index: 10; /* Ensure it's above other content */
}

.navbar-nav {
    justify-content: flex; /* Align items to the right */
    width: auto; /* Let the width adjust to content */
    justify-content: space-between;
}

.navbar-nav .nav-link {
    white-space: nowrap;
    padding: 0 10px;
    color: #ffffff;
}

.navbar-nav .dropdown-menu {
    min-width: 200px;
}

.nav-link:hover {
    color: green;
    transition: color 0.3s ease;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    font-size: 18px;
    padding: 10px 15px;
    color: #ffffff;
}

.collapse {
    z-index: 10;
    position: relative;
}



h2 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-family: "CenturyGothic";
    font-size: 20px;
    font-style: italic;
}


.column p {
    color: #000000;
    font-size: 20px;
    font-family: "CenturyGothic";
}
.section1{
    width: 100%;
    font-family: "CenturyGothic";
    min-height: 110vh;
    position: relative;
    transform-style: preserve-3d;
}

.heroim{
    height: 510px;
    object-fit: cover;
    filter: brightness(0.3);
    overflow: hidden;
    width: 100vw;
    
}

.heroim h1{
    font-size: 10%;
    position: relative;
    transform-style: preserve-3d;
}
.heroim p{
    margin-top: 10px;
    font-size: 100%;
    position: relative;
    transform-style: preserve-3d;
}