@font-face {
    font-family: 'CenturyGothic';
    src: url(centurygothic.ttf);
}
* {
    font-family: "CenturyGothic", sans-serif;
}
html{
    height: 100%;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1
}
header{
    text-align: start;   
}
.container{
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.navbar {
    padding: 20px 20px;
    margin-top: 30px;
    margin-right: 130px;
    position: absolute;
    top: 50;
    right: 0;
    z-index: 10;
}

.navbar-nav {
    justify-content: flex; 
    width: auto;
    justify-content: space-between;
}

.navbar-nav .nav-link {
    white-space: nowrap;
    padding: 0 10px;
    color: #ffffff;
}

.navbar-nav .dropdown-menu {
    min-width: 200px;
}

.nav-link:hover {
    color: green;
    transition: color 0.3s ease;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    font-size: 18px;
    padding: 10px 15px;
    color: #ffffff;
}

.collapse {
    z-index: 10;
    position: relative;
}


.c-item{
height: 710px;
}
.c-img{
height: 100%;
object-fit: cover;
filter: brightness(0.3);
}


.section1, .section2, .section3, .section4{
    width: 100%;
    min-height: 110vh;
    position: relative;
    transform-style: preserve-3d;
}
.section2{
    width: 100%;
    min-height: 30vh;
    position: relative;
    transform-style: preserve-3d;
    background-size: cover;
    background-position: 10;
    opacity: 0;
    transition: 1s;

}
.section1{
    min-height: 120vh;
    background-color: white
}

.section3{
    background-color: transparent;
    color: white;
    min-height: 70vh;
    transform-style: preserve-3d;
    text-align:center;
    background-image: url(GIPNumberBG.JPG);
    background-position: center;
    background-size: cover;   
    background-repeat: no-repeat;
    position: relative;
}
.section3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 1; 
}
.textcontainer2{
    position: fixed;
    margin-top: 10%;
    margin-left: 4%;
    transform-style: preserve-3d;
    text-wrap: wrap;
    
}
.gipnumcont {
    position: relative; 
    z-index: 2; 
    display: inline-block;
    text-wrap: wrap;
}  
.block1{
    float: left;
    padding: 5px;
   

}
.block2{
    float: left;
    padding: 5px;
    margin-left: 100px;
}

.section4{
    min-height: 40vh;
    background-color: transparent;
}

.l-img{
    height: 40%;
    object-fit: contain;
    width: 15%;
    margin-left: 4.2%;
}

.row{
    position: relative;
    transform-style: preserve-3d;
}

.g-item{
    height: 710px;

    }
.g-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carouseldivcontainer{
    padding: 4%;
    margin-top: -4%;
    transition: transform 0.5s ease-in-out;
    height: 500;
}


.imagecontainer{
    width: 100%;
    min-height: 20vh;
    position: relative;
    transform-style: preserve-3d;


}
html {
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.34);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.container {
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr;
}

.textcontainer {
    margin-top: 3%;
}


.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    font-size: 18px;
    padding: 10px 15px;
    color: #ffffff;
}

.logo {
    margin-left: 150px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

.imagecontainer{
    width: 100%;
    min-height: 20vh;
    position: relative;
    transform-style: preserve-3d;

}
.single{
    color: white;
    margin-left: 16.5%;
    text-align: center;
}
.dp{
    padding: 2%;
    position: static;
    text-align: center;
    flex-grow: 1;
    background: #142d66;
    color: white;

}
footer{
    margin:auto;

}
.footercontainer{
    width: 100%;
    background: linear-gradient(360deg, #275C29, #116d19c0);
    display: flex;
    position: relative;
    z-index: 2;
    transform-style: preserve-3d;
  
}
.single{
    margin-left: 16.5%;
    text-align: center;

    
}
.single a{
    color: #000000;
    text-decoration: none;
}
.single a:hover{
    color: white;
    
}
.single p{
    color: #000000;

}
.cont{
    display: flex;
}
.cont p{
    margin-left: 10px;
    color: #000000;
}
.cont svg{
    height: 30px;
  
}
.section2,.section1,.section3,.section4{
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-100%);
    transition:all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform:translateX(0);
}


.main-text {
    text-align: left;
    padding: 5px; 
    margin-left: 200px;
}
.placeholder-image {
    position: relative;
    margin-left: 20px;
    top: 0;
    transform: translateY(-80%);
}
.main-text h1 {
    font-size: 2.5rem;
}

.main-text {
    max-width: 50%;
    padding-left: 50px;
}

.placeholder-image img {
    width: 100%;
    max-width: 400px; /* Adjusts the max-width based on the original size */
    margin-top: 10vh; /* Relative to viewport height */
    margin-right: 10vw; /* Relative to viewport width */
    border-radius: 25px;
    height: auto; /* Ensures the aspect ratio remains intact */
}


.header .carousel img, .carousel-inner, 
.carousel-item {
    height: 100vh; 
    object-fit: cover; 
}

.header .position-relative {
    height: 100vh;
}
.l-img {
    max-width: 100%;
    height: auto;
    width: 150px;
    padding: 10px;
}

.section2 .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partneragenciescontainer {
    padding: 2rem 0;
}


